
.ngimage {
  position: relative !important;
  }

.ngimage p {
  position: absolute !important;
  top: 0 !important;/*画像の左上に配置*/
  left: 0 !important;
  margin: 100 !important; /*間*/
  color: black !important; /*文字色*/
  background-color: rgba(219,127,8, 0.5) !important; 
  font-size: 30px !important;
  padding: 10px 20px !important;/*文字周りの余白*/
  }

.ngimage img {
  transition: all 0.2s linear !important;
}

/*ここから下は背景画像用のCSS　※とりあえず親要素のDIVに専用のCSS用のスタイルを作った*/
.ngimage_css {
  position: relative !important;
  }

.ngimage_css p {
  position: absolute ;
  top: 25% ;/*画像の左上に配置*/
  left: 0 ;
  margin: 100 ; /*間*/
  color: black ; /*文字色*/
  background-color: rgba(219,127,8, 0.5); 
  font-size: 30px;
  padding: 10px 20px;/*文字周りの余白*/
  }

.ngimage_css img {
  transition: all 0.2s linear ;
}